body {
  margin: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark {
  background-color: #212121;
  color: white;
}

body.light {
  background-color: #ffffff;
  color: #111;
}

.dark .sidebar-navbar .accordion-button {
  background-color: #1e1e2f;
  color: white !important;
}

.dark .sidebar-navbar .accordion-button:not(.collapsed) {
  background-color: #2a2a40;
  color: white !important;
}

.dark .sidebar-navbar .accordion-body {
  background-color: #1e1e2f;
  color: white;
}

.dark .sidebar-navbar .accordion-button::after {
  filter: invert(1); /* makes the dropdown arrow visible on dark bg */
}

.dark .sidebar-navbar .nav-link {
  color: white !important;
}

.dark .sidebar-navbar .nav-link:hover {
  color: white !important;
  background-color: #343a40;
}

.light .sidebar-navbar .nav-link {
  color: black !important;
}

.light .sidebar-navbar .nav-link:hover {
  color: black !important;
  background-color: #a6b9cc;
}

.light .sidebar-navbar .nav-link.active {
  color: black !important;
  background-color: #a6b9cc;
}

.light .sidebar-navbar .accordion-button:not(.collapsed) {
  background-color: #a6b9cc;
  color: black !important;
}

.dark .sidebar-navbar .nav-link.active {
  color: white !important;
  background-color: #343a40;
}

.custom-listgroup .list-group-item:not(.list-group-item-success):not(.list-group-item-warning):not(.list-group-item-danger) {
  background-color: rgb(95, 94, 94);
  color: white !important;
  border: 1px solid #444;
}

body.dark .graph-text {
  fill: white;
}

body.light .graph-text {
  fill: black;
}

.index-label {
  margin-bottom: 4px;
  color: #888
}

.custom-msg {
  margin-top: 1rem;
  font-weight: bold;
}

.custom-listelm {
  display: flex;
  flex-direction: column;
  align-items: center
}

.custom-listlayout {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 1rem
}

.custom-listlayout-without-margin {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.dark .custom-table {
  --bs-table-bg: rgb(95, 94, 94);
  --bs-table-color: white;
  --bs-table-border-color: #444;

  width: auto;          /* w-auto */
  font-size: 0.875rem;  /* small */
}

.dark .custom-table th,
.dark .custom-table td {
  text-align: center;
  color: white !important;
}

.light .custom-table {
  --bs-table-bg: rgb(217, 217, 217);
  --bs-table-color: black;
  --bs-table-border-color: #888;

  width: auto;          /* w-auto */
  font-size: 0.875rem;  /* small */
}

.light .custom-table th,
.light .custom-table td {
  text-align: center;
  color: black !important;
}

.v-space{
  margin-top: 1cm;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.legend-item-v-space {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1cm;
}

.red-square {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #dc3545;
  flex-shrink: 0;
}

.yellow-square {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ffc107;
  flex-shrink: 0;
}

.green-square {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #198754;
  flex-shrink: 0;
}

.lime-square {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #c3e211;
  flex-shrink: 0;
}

.purple-square {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #9b1970;
  flex-shrink: 0;
}

.img-light,
.img-dark {
  display: none;
}

body.light .img-light {
  display: block;
}

body.dark .img-dark {
  display: block;
}

.min-v-space{
  min-width: 180px;
}